.custom-form {
    display: flex;
    flex-direction: column;

    & > section {
        display: flex;

    }

    & > section:first-of-type {
        flex-direction: column;
    }

    & > section:last-of-type {
        flex-direction: row;
        padding-block: 5px;
        justify-content: space-between;
    }
}