.app-header {
    height: 8vh;
    box-shadow: 0 0 5px #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    padding-inline: 10px;

    & > a:first-of-type {
        font-family: "Parisienne", cursive;
        font-size: 30px;
    }
 
}